:root{
    --PrimaryColor: #ff274b ;
    --secondColor: #f7bcf7 ;
    --lightColor: #ffffff; 
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a; 
    --padding : %8 ;
}
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 16px; 
    color: var(--lightColor);
}
.home{
    width: 100%; 
    height: 100vh; 
    background-color: var(--bgColor-1); 
    display: flex; 
    flex-direction: column;
} 
span{
    color: var(--PrimaryColor);
} 
h2{ 
    
    font-size: 2.2rem; 
    letter-spacing: 0.12rem; 
    cursor:pointer; 
   
}   
nav{  
   padding-top: 2.6rem;
   padding-left: 60px; 
   padding-right:30px;   
   display: flex;
   justify-content :space-between; 
   align-items:center;

}  
nav ul li{
    list-style-type:none ; 
    display: inline-block; 
    margin: 0.8rem 1.5rem; 

} 
nav ul li a{
    color: var(--lightColor); 
    text-decoration: none; 
    text-transform: capitalize; 
    transition: 0.4s;


} 
nav ul li a:hover{
    color: var(--PrimaryColor);
}
.btn{
 background-color: var(--PrimaryColor); 
 color :var(--lightColor) ;
 font-weight: bold; 
 text-decoration: none; 
 padding: 0.81rem 1.78rem; 
 border-radius: 30px; 
 transition: 0.4s; 
 border: 2px solid transparent;

} 
.btn:hover{
    background-color: transparent; 
    border: 2px solid var(--PrimaryColor); 
    
} 
.content{
    
    flex-grow: 1; 
    padding:60px   ; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;

} 
h1{
    font-size: 4.65rem; 
    margin: 1.7rem;
} 
h3{
    font-size: 1.5rem; 
 margin-bottom: 3.6rem;
} 
h4{
    font-size: 1.25rem; 
    letter-spacing: 0.12rem;
} 
.social{

    margin-top: 3.5rem; 

} 
.social img{
 
    margin-right: 2rem; 
    width: 2.5rem;  
    transition: 0.4s;
    

} 
.social img:hover{ 
    transform: scale(1.2);

} 
.contain-images{
     width: 10%; 
     height: 30%; 
     position: relative;  
     align-self: flex-end;
} 
.contain-images img{

    position: absolute; 
    bottom: 0%;
}